* {
	scrollbar-width: thin;
	box-sizing: border-box;
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}
body {
	font-family: Inter, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	//background: linear-gradient(0deg, #031953 0%, #28c1fa 100%);
	padding: 0;
	margin: 0;
	background: #030617;

	color: #ffffff99;
	font-weight: 400;
	overflow: hidden;
	h1,
	h2 {
		font-family: Alatsi, sans-serif;
		font-weight: 400;
	}
}
button {
	font-family: Ubuntu, sans-serif;
}
#root {
	height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
}
.wt-app {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.wt-back-button {
	font-size: 20px;
	line-height: 24px;
	color: #0f4a8e;
	width: 270px;
	height: 50px;
	min-height: 50px;
	width: 100%;
	margin-top: 24px;
}
.content-page {
	height: calc(100vh - 100px);
	overflow: auto;
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
}
.body-page {
	flex: 1;
	overflow: hidden;
}
.header-page {
	height: 44px;
	background-color: #224e38;
	padding: 11px 16px 11px 8px;
	border-radius: 12px 12px 0 0;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.left-header {
	display: flex;
	flex-direction: row;
	gap: 3px;
	color: #0a84ff;
}
.middle-header {
	text-transform: uppercase;
}
.content-toolbar {
	width: 100%;
	padding: 0 16px;
	margin-bottom: 24px;
	z-index: 90;
}
.toolbar {
	list-style: none;
	padding: 8px;
	margin: 0;

	background: #0e1110b2;
	border-radius: 16px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.item-toolbar {
		display: flex;
		flex-direction: column;
		align-items: center;
		border: 0.68px solid #feffff7a;
		border-radius: 10px;
		gap: 2px;

		width: 60px;
		height: 60px;
		justify-content: center;

		span {
			font-size: 11px;
			color: #ffffff;
		}
		img {
			width: 18px;
			height: 18px;
		}
	}
	.item-active {
		background: #6366f1;
		border-radius: 8px;
		.item-toolbar {
			border: 0.68px solid #6366f1;
		}
	}
}
.flex {
	display: flex;
}
.flex-row {
	flex-direction: row;
}
.flex-col {
	flex-direction: column;
}
.justify-center {
	justify-content: center;
}
.items-center {
	align-items: center;
}
.justify-around {
	justify-content: space-around;
}
.gap-1 {
	gap: 4px;
}
.gap-3 {
	gap: 12px;
}
.font-9 {
	font-size: 36px;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.w-full {
	width: 100%;
}
.bar-container {
	background: none;
	height: 8px;
}
.bar-wrapper {
	margin: 0 40px;
	border: 1px solid #ffffff1a;
	border-radius: 20px;
}
.bar-completed {
	height: 8px;
	background-color: red;
}
.barCompleted {
	background: linear-gradient(270deg, #f68b8d 0%, #fde06d 100%);
	height: 8px;
	border-radius: 20px;
}
.bar-container div:first-child {
	background: linear-gradient(270deg, #f68b8d 0%, #fde06d 100%) !important;
	height: 100% !important;
	border-radius: 20px !important;
}
.flex-1 {
	flex: 1;
}
.bubble {
	z-index: 10;
	position: absolute;
	font-size: 40px;
	color: #ffffff;
	animation: bubbleEffect 1s ease-in-out forwards;
	pointer-events: none;
}

@keyframes bubbleEffect {
	0% {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
	100% {
		opacity: 0;
		transform: translateY(-50px) scale(1.5);
	}
}
.ball-action {
	transition: transform 0.01s ease;
}

.ball-action:active {
	transform: rotateX(20deg) scale(0.99);
}
.p-3 {
	padding: 0.75rem !important;
}
.line-vertical:after {
	content: ' ';
	width: 1px;
	height: 24px;
	border: 1px solid #ffffff33;
}
.item-base {
	background: #1e293b;
	border-radius: 12px;
	padding: 12px 0;
}
.go652374917 {
	display: none !important;
}
.go2743740594 {
	display: none !important;
}

.ellipsis-container {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	text-align: center;
	position: relative;
}

.ellipsis-container span {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
